noderedproject/project1/flows.json
[{"id":"c1a8d9c5.140568","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f4729af.e06c28","type":"comment","z":"c1a8d9c5.140568","name":"INJECT NODE","info":"","x":180,"y":60,"wires":[]},{"id":"e17175ea.8ae138","type":"debug","z":"c1a8d9c5.140568","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":100,"wires":[]},{"id":"125b1a76.c5bcb6","type":"inject","z":"c1a8d9c5.140568","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["30530131.ce23ce"]]},{"id":"30530131.ce23ce","type":"http request","z":"c1a8d9c5.140568","name":"http request - json result","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://my-json-server.typicode.com/typicode/demo/posts","tls":"","persist":true,"proxy":"","authType":"","x":450,"y":100,"wires":[["e17175ea.8ae138"]]},{"id":"3a1c3c6b.6b0954","type":"comment","z":"c1a8d9c5.140568","name":"HTTP REQUEST (GET)","info":"","x":440,"y":60,"wires":[]},{"id":"f81783ef.524a","type":"comment","z":"c1a8d9c5.140568","name":"PRINT IN DEBUG CONSOLE","info":"","x":760,"y":60,"wires":[]}]